
.footer
  position: relative
.map
  left: 0
  top: 0
  border: 0
#map
  width: 50%   
  position: absolute
.contacts
  flex-basis: 50%
  padding-top: 70px
  padding-left: 208px
  &__title
    +bold 
    font-size: 22px
    line-height: 33px
    margin-bottom: 94px
  &-block
    display: flex
    justify-content: flex-end
  &-list 
    padding: 0
    list-style: none
    &__icon
      width: 20px
      height: 20px
      text-align: center
      line-height: 20px
      margin-right: 23px
    &__item
      display: flex
      align-items: flex-start
      margin-bottom: 33px
    &__phone 
      +bold
      display: block
      color: $text-color
      text-decoration: none  
      outline: none   
    &__text
      line-height: 24px   
@media (max-width: 1200px)     
  .contacts
    padding-top: 100px
    padding-left: 100px
    &__title
      +bold 
      font-size: 18px
      line-height: 1.4
      margin-bottom: 100px
@media (max-width: 768px)   
  .footer
    &-block
      display: flex
      flex-direction: column-reverse
  .contacts
    width: 100% 
    padding-top: 50px
    padding-bottom: 50px
    margin: auto
    &-block
      display: block  
    &__title
      max-width: 400px  
  #map
    width: 100%
    position: absolute
@media (max-width: 576px)  
  .contacts
    padding-left: 0
    padding-top: 46px
    padding-left: 15px
    &__title
      color: #2c3442
      font-size: 18px
      line-height: 22px
      margin-bottom: 35px
      margin-top: 60px
      max-width: 250px
    &-list 
      &__item
        margin-bottom: 36px
      &__icon
        margin-right: 10px
      &__text
        font-size: 14px
        line-height: 24px
        max-width: 140px    

