.modal 
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(#000, 0.5)
  display: flex
  display: none
  &_active
    display: flex
  &-dialog
    position: relative
    margin: auto
    max-width: 570px
    width: 90%
    min-width: 200px
    max-height: 674px
    background-color: #fff
    padding: 40px 95px 76px
    &__close
      cursor: pointer
      position: absolute
      top: 0
      right: 0
    &__title 
      font-size: 22px
      line-height: 33px
      text-align: center
      +bold
      margin: 0 
    &__subtitle
      display: block
      font-size: 16px
      line-height: 35px
      margin-bottom: 40px
      margin-top: 38px
      padding-left: 26px
    &__form 
      display: block
      text-align: center
    &__input 
      width: 370px
      margin-bottom: 15px
      padding: 24px 21px
      outline: none
    &__text
      display: block
      font-size: 15px
      line-height: 20px 
      text-align: center
      padding-right: 50px
      padding-left: 42px
    &__phone 
      display: block
      text-decoration: none
      +bold 
      color: $text-color
      font-size: 24px
      line-height: 22px 
      margin-top: 13px
      margin-bottom: 76px 
      text-align: center
  &__button  
    margin-top: 12px
    margin-bottom: 30px
    padding: 24px 15px
    +bold 
    width: 368px
    height: 70px 
@media (max-width: 576px)
  .modal
    &-dialog
      padding: 0
      &__title
        font-size: 18px
      &__subtitle
        margin: 20px 15px
        padding: 0
        text-align: center  
      &__input
        max-width: 260px
        width: 100%
      &__phone
        font-size: 18px
    &__button
      max-width: 260px
      width: 100% 
      margin-bottom: 20px
      font-size: 12px   