.portfolio
  background: url('../img/portfolio/portfolio-pattern.png') repeat-y center left
  background-size: 50%
  background-color: $secondary
  padding: 90px 0 97px
  &__title
    margin: auto
    margin-bottom: 90px
    +bold
    font-size: 30px
    line-height: 45px
  &__arrows
    max-width: 118px
    margin: auto
    margin-top: 68px
    display: flex
    justify-content: space-between
.slider
  max-width: 1230px
  &__item
    margin: auto
@media (max-width: 1200px)
  .portfolio
    &__title
      font-size: 26px
@media (max-width: 768px)
  .portfolio
    &__title
      font-size: 22px
  .slider
    max-width: 680px
    &__image
      margin: auto
@media (max-width: 590px)
  .portfolio
    padding: 39px 0 60px
    background: $secondary
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 40px
    &__block
      width: 94%
      padding-left: 23px
    &__arrows
      margin-top: 50px
  .slider
    max-width: 680px
    &__image
      margin: auto