@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
    width: 90%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 277px;
    width: 99%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 25px 25px;
  outline: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding-top: 72px;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 23px 28px;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
}

/*импорт стилей шапки*/
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  line-height: 0.7;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.navbar__button {
  margin-left: 25px;
  font-size: 13px;
  padding: 17px 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 9px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 8px 9px 14px;
  }
  .navbar__button {
    font-size: 10px;
    border-radius: 5px;
    padding: 14px 27px;
  }
}

/*стили для главного экрана*/
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 0;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 38px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 69px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 26px;
}

.hero-list__text {
  max-width: 300px;
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4px;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 17px;
    margin-bottom: 30px;
  }
  .hero-list__item {
    margin-bottom: 25px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 1.2;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

@media (max-width: 576px) {
  .hero {
    padding: 23px 0 50px;
  }
  .hero-block {
    padding-top: 2px;
  }
  .hero-text {
    padding-left: 2px;
    padding-right: 0;
  }
  .hero-text__title {
    font-size: 24px;
    margin-bottom: 5px;
    line-height: 31px;
  }
  .hero-text__subtitle {
    font-size: 16px;
  }
  .hero-list {
    margin-bottom: 32px;
  }
  .hero-list__image {
    width: 40px;
    height: 40px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    max-width: 210px;
  }
}

.offer {
  background: url("../img/offer/offer-img.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
  padding-bottom: 92px;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 20px;
  margin-top: 0;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 29px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 11px;
}

.offer__button {
  width: 100%;
  min-height: 70%;
  margin-bottom: 27px;
}

.offer-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 1.6;
  width: 100%;
  padding-right: 10px;
}

.offer-text__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 47%;
}

.offer-text__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  display: block;
  color: #333333;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 14px;
  }
  .offer-text {
    display: inline-block;
    padding-left: 5px;
    padding-right: 30px;
    font-size: 15px;
  }
  .offer-text__item {
    width: 100%;
  }
  .offer-text__phone {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer-text {
    display: inline-block;
    padding-left: 5px;
    padding-right: 30px;
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .offer {
    padding-top: 50px;
  }
  .offer-block {
    max-width: 275px;
    margin: auto;
  }
  .offer__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 18px;
    margin-right: 10px;
  }
  .offer__subtitle {
    font-size: 14px;
    margin-bottom: 27px;
  }
  .offer__input {
    padding-left: 20px;
    margin-bottom: 9px;
  }
  .offer__button {
    padding: 18px 35px;
    margin-bottom: 20px;
    line-height: 1.3;
    width: 100%;
  }
  .offer-text {
    width: 100%;
    padding-left: 5px;
    padding-right: 35px;
    font-size: 15px;
  }
  .offer-text__item {
    margin-bottom: 7px;
  }
  .offer-text__phone {
    line-height: 24px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 570px;
  width: 90%;
  min-width: 200px;
  max-height: 674px;
  background-color: #fff;
  padding: 40px 95px 76px;
}

.modal-dialog__close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.modal-dialog__title {
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin: 0;
}

.modal-dialog__subtitle {
  display: block;
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 40px;
  margin-top: 38px;
  padding-left: 26px;
}

.modal-dialog__form {
  display: block;
  text-align: center;
}

.modal-dialog__input {
  width: 370px;
  margin-bottom: 15px;
  padding: 24px 21px;
  outline: none;
}

.modal-dialog__text {
  display: block;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  padding-right: 50px;
  padding-left: 42px;
}

.modal-dialog__phone {
  display: block;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #333333;
  font-size: 24px;
  line-height: 22px;
  margin-top: 13px;
  margin-bottom: 76px;
  text-align: center;
}

.modal__button {
  margin-top: 12px;
  margin-bottom: 30px;
  padding: 24px 15px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  width: 368px;
  height: 70px;
}

@media (max-width: 576px) {
  .modal-dialog {
    padding: 0;
  }
  .modal-dialog__title {
    font-size: 18px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .modal-dialog__subtitle {
    margin: 20px 15px;
    padding: 0;
    text-align: center;
  }
  .modal-dialog__input {
    max-width: 260px;
    width: 100%;
  }
  .modal-dialog__phone {
    font-size: 18px;
  }
  .modal__button {
    max-width: 260px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */